@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap'); 

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(250, 246, 246);
    display: grid;
    place-items: center;
    font-family: Bai Jamjuree;
}
.page_heard{
    
    position: top;
    padding: 80px 0 20px;
    width: 100vw;
    border: 1px snow;
    align-items: center;
    
}

.huddle{
    display: flex;
    align-items:center;
    margin-left: 20px;
    font-family:'Secular One', sans-serif;
}

.Try_it_free{
    height: 20px;
    width: 60px;
    border: 1px solid;
    border-color:rgb(242, 122, 186);
    border-radius:  20px;
    font-weight: thin;
    font-size: 10px;
    align-items: center;
    text-align: center;
    color: rgb(242, 122, 186);
    display: flex;
    margin-left: 1100px;
    margin-top: -4%;
}
.free{
    margin-left: 9%;
}
 
.abstrate{
    margin-top: 10%;
    text-align: center;
    font-size: thin;
}
h1, h2, h3, h4{
    font-family:'Secular One', sans-serif;
}

p{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    color: rgb(103, 102, 102);
    font-size: small;
}

#button{
    height: 30px;
    width: 150px;
    background-color: rgb(247, 81, 169);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 9%;
}

#screen_mockups{
    top: 10px;
}
.icons{
    height: 1px;
    width: 1px;
}

.status{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 300px;
    margin-top: 30px;
}
.glow_together{
    background-image:  url(../images/bg-section-bottom-mobile-1.svg);
    position: top, right-bottom;
    background-repeat:no-repeat, no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    margin-top: 70px;
}
.com_icon{
    height: 40%;
    width: 40%;
    fill: white;
}

img{
    height: 200px;
    width: 200px;
}
#flown_conv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    margin-top: 40px;
}

#your_users{
    background-image: url(../images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    margin-top: 40px;
}

#question{
align-items: center;
margin-top: 20%;
}

.page_foot{
    background-image: url(../images/bg-section-bottom-desktop-1.svg);
    background-color: rgb(1, 40, 49);
    background-repeat: no-repeat;
    position: bottom;
    padding: 150px 0 20px;
    width: 100vw;
    border: 1px snow;
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.foot_huddle{
    display: flex;
    align-items:center;
    margin-left: 200px;
    margin-top: 30px;
    gap: 5px;
}

.foot_h2{
    color: white ;
}
#wrap{
    display: inline;
}
.newsletter{
    margin-right: 50px ;
    text-align: center;

}
.news_p{
color: white;
font-size: small;
text-align: left;
}
.label_sub{
    height: 30px;
    width: auto;
    background-color: rgb(250, 126, 192);
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: inset;
    margin-left: 4%;
    cursor: pointer;
}
.label_email{
    height: 30px;
    width: auto;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: inset;
    margin-left: -28%;
    cursor: pointer;
    margin-top: 10px;
}
.check{
    color: rgb(253, 87, 87);
    font-size: small;
    margin-left: -18%;
}
#phone{
    color: whitesmoke;
    font-size: smaller;
    align-items: baseline;
    margin-left: 200px;
}

#email{
    color: whitesmoke;
    font-size: smaller;
    align-items: baseline;
    margin-left: 200px;
    margin-top: 10px;
}
#handles{
    fill: aliceblue;
}
#media_handles{
    display: flex;
}
.footer__social{
    height: 20px;
    width: 20px;
    list-style:none;
    display: flex;
    gap: 4px;
    margin-left: 160px;
}






